services:
  train:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        BUILDKIT_INLINE_CACHE: 1
    image: mooddetector:latest
    container_name: mooddetector-train
    
    deploy:
      resources:
        limits:
          cpus: '16'
          memory: 16G
        reservations:
          cpus: '8'
          memory: 8G
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    
    volumes:
      - ./fer2013:/app/fer2013:ro
      - ./outputs:/app/outputs:rw
      - ./melhortreino.py:/app/melhortreino.py:ro
    
    environment:
      - TF_CPP_MIN_LOG_LEVEL=2
      - TF_ENABLE_ONEDNN_OPTS=1
      - PYTHONUNBUFFERED=1
      - OMP_NUM_THREADS=8
      - TF_NUM_INTEROP_THREADS=2
      - TF_NUM_INTRAOP_THREADS=8
      - CUDA_VISIBLE_DEVICES=0
    
    command: python melhortreino.py
    

  predict:
    image: mooddetector:latest
    container_name: mooddetector-predict
    
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 2G
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    
    volumes:
      - ./outputs:/app/outputs:ro
      - ./foto_teste.png:/app/foto_teste.png:ro
      - ./predicao.py:/app/predicao.py:ro
    
    environment:
      - TF_CPP_MIN_LOG_LEVEL=2
      - PYTHONUNBUFFERED=1
    
    command: python predicao.py
    
    profiles:
      - predict

volumes:
  pip-cache:
    driver: local
